<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="myDB" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\APU\CS(CYB)\IOOP\Projects\Group8\Group8\eSports_Club.mdf;Integrated Security=True'
		providerName="System.Data.SqlClient" />
		<add name="Group8.Properties.Settings.cn" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
		providerName="System.Data.SqlClient" />
		<add name="Group8.Properties.Settings.eSports_ClubConnectionString"
		 connectionString ="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\eSports_Club.mdf;Integrated Security=True"
		 providerName ="System.Data.SqlClient" />


	</connectionStrings>
</configuration>